.CompanyProfile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  align-items: center;
  height: 100%;

  & .companyInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .graph {
    width: 1200px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .tabs {
      display: flex;
      width: 96%;
      justify-content: space-around;
      margin: auto;
      padding: 25px 0 0;
      cursor: pointer;

      & .tab {
        padding: 5px 30px;
        display: flex;
        align-items: center;
        border: 1px solid transparent;

        & i {
          font-size: 30px;
          margin: 0 15px 0 0;
        }

        & .fiveForceTab {
          position: absolute;
          left: 20px;
          bottom: 14px;
        }

        & .fiveForceIcon {
          position: relative;
          width: 25px;
          height: 25px;

          & > img {
            width: 13px;
          }
          & .arrowup {
            position: absolute;
            bottom: 0;
            left: 50%;
            top: 100%;
            right: 50%;
          }
          & .arrowright {
            position: absolute;
            left: 0;
            top: 50%;
            right: 100%;
            bottom: 50%;
          }
          & .arrowdown {
            position: absolute;
            top: 0;
            right: 50%;
            bottom: 100%;
            left: 50%;
          }
          & .arrowleft {
            position: absolute;
            right: 0;
            top: 50%;
            left: 100%;
            bottom: 50%;
          }
          & .fiveCore {
            position: absolute;
            right: 50%;
            top: 50%;
            bottom: 50%;
            left: 50%;
          }
        }
      }

      & .active {
        border: 1px solid #ff9776;
        border-radius: 12px;
      }
    }
    & .newsContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px;
      margin: 50px 0;
      border: 1px solid #ff9776;
      box-shadow: 5px 5px 0px #ff9776;
      border-radius: 12px 0;
      width: 50%;

      & .shortContent {
        position: relative;
        color: rgb(141, 33, 78);
      }
      & .title {
        position: relative;
        color: rgb(141, 33, 78);
        font-size: 25px;
        font-weight: bolder;
        margin: 0 0 20px;
      }
      & .url {
        border-radius: 16px;
        border: 1px solid #ff9776;
        color: #ff9776;
        padding: 5px 15px;
        max-width: 60px;
        position: absolute;
        bottom: 30px;
        right: 30px;
        text-decoration: none;

        &:hover {
          color: white;
          border: 1px solid transparent;
          background-color: #ff9776;
        }
      }
      & .date {
        margin: 20px 0 0;
        font-weight: lighter;
        color: rgba(124, 29, 110, .5);
      }
    }
  }
}
