.companiesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;

  & Input {
    width: 750px;
    margin: 20px;
    border: 1px solid blue;
    border-radius: 8px;
    text-align: center;

    &:focus::placeholder {
      color: transparent;
    }
  }
}
.row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.col {
  margin-top: 20px;
  width: fit-content;
  height: fit-content;
}
h1 {
  color: orange;
}
