.fiveForces {
  display: flex;
  justify-content: space-between;

  & .listItem {
    display: flex;

    &:last-child div {
      border: none;
    }
    & .vl {
      flex: 1;
      padding: 10px; /* add some padding ?*/
      text-align: center;
      border-right: 1px solid green;
      height: 100%;
    }
  }
}
