.fiveForces {
  display: grid;
  justify-content: space-between;
  padding: 50px;

  grid-template-areas:
    "a a a b b b"
    "c c f f d d"
    "e e e e e e";

  & .a0 {
    grid-area: a;
  }
  & .a1 {
    grid-area: b;
  }
  & .a2 {
    grid-area: c;
  }
  & .a3 {
    grid-area: d;
  }
  & .a4 {
    grid-area: e;
  }
  & .parent {
    grid-area: f;
  }

  & .chartContainer {
    width: 700px;
    height: 400px;
    margin: 20px auto auto;
  }

  & .btnContainer {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-around;
    padding: 20px;
  }


  & .listItem {
    border: 2px solid rgba(255, 151, 118, 0.7);
    border-radius: 10px 0;
    margin: 10px;
    transition: padding 0.5s;
    padding: 10px;

    h6 {
      font-weight: bold;
    }

    &.hover {
      background-image: linear-gradient(
        90deg,
        rgba(255, 151, 118, 0.4) 10%,
        rgba(255, 193, 7, 0.4) 100%
      );
    }

    &.clicked {
      padding: 30px;
      background-image: linear-gradient(
                      90deg,
                      rgba(255, 151, 118, 0.7) 10%,
                      rgba(255, 193, 7, 0.7) 100%
      );
    }
  }

  & .buttonContainer {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  & .custom-clear {
      background-color: white;
      border: 1px solid rgb(141, 33, 78);
      color: rgb(141, 33, 78);
      box-shadow: none!important;

    &:hover {
      background-color: rgb(141, 33, 78);
      color: white;
    }
  }

  & .custom {
      background-color: white;
      border: 1px solid #ff9776;
      color: #ff9776;
      box-shadow: none!important;

    &:hover {
      background-image: linear-gradient(90deg, #ff9776 10%, #ffc107 100%);
      border: 1px solid transparent;
      color: white;
    }
  }
}
