.fiveForces {
  display: grid;
  justify-content: space-between;

  grid-template-areas:
    "a a a b b b"
    "c c f f d d"
    "e e e e e e";

  & .a0 {
    grid-area: a;
  }
  & .a1 {
    grid-area: b;
  }
  & .a2 {
    grid-area: c;
  }
  & .a3 {
    grid-area: d;
  }
  & .a4 {
    grid-area: e;
  }
  & .parent {
    grid-area: f;
  }

  & .chartContainer {
    width: 700px;
    height: 400px;
    margin: auto;
  }

  & .btnContainer {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-around;
    padding: 20px;
  }

  & #listItem4 {
    margin-top: 40px;
  }

  & .listItem {
    border: 2px solid;
    border-radius: 10px;
    margin: 10px;
    transition: padding 0.5s;
    padding: 10px;

    h6 {
      font-weight: bold;
      text-decoration: underline;
    }

    &.hover {
      background-image: linear-gradient(
        90deg,
        rgba(255, 151, 118, 0.5) 10%,
        rgba(255, 193, 7, 0.5) 100%
      );
    }

    &.clicked {
      padding: 30px;
      background-image: linear-gradient(90deg, #ff9776 10%, #ffc107 100%);
    }
  }

  & .buttonContainer {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
