.card-container {
  height: 270px;
  padding-top: 10px;
  margin: 20px;
  overflow: hidden;

  &.card {
    border: 1px solid #6e2162;
    border-radius: 8px;

    transition: all ease-in-out 0.2s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    &:hover {
      transform: scale(1.05);
    }

    & .logo {
      width: unset;
      height: 100px;
    }

    & .cardBody {
      display: flex;
      flex-direction: column;
      padding: 20px 20px 50px;
      position: relative;

      & .companyName {
        font-weight: bold;
      }

      & .category {
        margin-bottom: 10px;
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 12px;
      }

      & .card {
        background-color: orange;
        border-radius: 8px;
        border: none;
        margin-left: auto;
        box-shadow: none;

        &-bottom {
          bottom: 0;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 15px;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          position: absolute;
          margin-left: -20px;
          width: 100%;
          background-image: linear-gradient(
            90deg,
            rgb(141, 33, 78) 10%,
            rgb(124, 29, 110) 100%
          );
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}
