.card-container {
  padding: 10px;
  min-height: 300px;
  width: 300px;

  &.card {
    border: 1px solid orange;
    border-radius: 8px;
    justify-content: space-between;

    & .logo {
      width: 100px;
    }

    & .cardBody {
      display: flex;
      flex-direction: column;

      & .btn {
        background-color: orange;
        border-radius: 8px;
        border: none;
        margin-left: auto;
        box-shadow: none;
        margin-top: auto;

        &.btn-secondary.float-right:active {
          background-color: orange;
          outline: none;
          box-shadow: none;
          transition: all 0s;
        }

        &:hover {
          cursor: pointer;
          transform: scale(1.1);
          right: 0;
        }
      }
    }
  }
}
