.card-container {
  min-height: 300px;
  padding-top: 10px;

  &.card {
    border: 1px solid orange;
    border-radius: 8px;
    justify-content: space-between;

    & .logo {
      width: 120px;
    }

    & .cardBody {
      display: flex;
      flex-direction: column;
      padding: 20px 20px 50px;
      position: relative;

      & .companyName {
        font-weight: bold;
      }

      & .card {
        background-color: orange;
        border-radius: 8px;
        border: none;
        margin-left: auto;
        box-shadow: none;

        &-bottom {
          bottom: 0;
          text-align: center;
          background-color: green;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 50px;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          position: absolute;
          margin-left: -20px;
          width: 100%;
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}
