.Footer {
  width: 100%;
  background: #ffc107;
  height: 88px;
  flex-shrink: 0;
  color: white;
}

.Container {
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;

  & .divider {
    width: 100%;
    background-color: white;
    height: 1px;
  }
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 15px;

  a {
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}
img {
  margin-right: 15px;
  width: 30px;
}
