.Footer {
  bottom: 0;
  width: 100%;
  background: #eee;
  height: 180px;
}

.Container {
  padding: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 15px;
}
img {
  margin-right: 15px;
  width: 30px;
}
