.CategoriesPage {
  padding: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  font-weight: 600;

  & Input {
    width: 500px;
    margin: 20px;
    border: 1px solid blue;
    border-radius: 8px;
    text-align: center;
    &:focus::placeholder {
      color: transparent;
    }
  }

  & .CategoriesList {
    border: 2px solid orange;
    border-radius: 8px;
    width: 500px;
    padding: 5px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .listItem {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;

      a {
        color: black;

        &:hover {
          transform: scale(1.2);
          color: orange;
        }
      }
    }
  }
}
