.CategoriesPage {
  padding: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  & Input {
    width: 500px;
    margin: 20px;
    border: 1px solid blue;
    border-radius: 8px;
    text-align: center;
    &:focus::placeholder {
      color: transparent;
    }
  }

  & .CategoriesList {
    border: 1px solid orange;
    border-radius: 8px;
    width: 500px;
    padding: 5px;
    height: fit-content;

    & .listItem {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
      
      a{
        color: black;
      }

      // & .badge {
      //   margin-left: 10px;
      //   height: 20px;
      //   background-color: green;
      //   border-radius: 8px;
      //   line-height: 1.1;
      // }
    }
  }
}
