.list-group-item {
  border: 0 !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

hr {
  margin-left: 0;
}
.CompanyTableG {
  margin: 10px 0;
  width: 85%;

  &.large {
    width: 100%;
  }

  & .table {
    //border: 1px solid #f29f05;
    width: 75%;
    margin: auto;

    &.large {
      width: 100%;
    }
  }

  .table td,
  .table th {
    vertical-align: middle;
    border: 0;
  }
  .table thead th {
    vertical-align: middle;
    text-align: center;
    border: 0;
  }

  & .companyLogo {
    width: 150px;
  }

  & .companyName {
    font-size: 30px;
  }
}
