.socialMedia {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 30px 75px;


  & .twitter {
    width: 400px;
    border: 2px solid #1da1f2;
    border-radius: 8px;
    padding: 8px;
    height: 490px;
  }

  & .instagram {
    width: 400px;
    border: 3px solid #fd1d1d;
    border-radius: 8px;
    height: 490px;
    & div {
      margin-left: 1px;
    }
  }
  & .company10 {
    width: 400px;
    color: purple;
    height: 490px;
    border: 2px solid orange;
    border-radius: 8px;
    text-align: center;
    padding: 20px 20px 20px 20px;

    ul {
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      font-weight: bolder;

      li {
        color: orange;
        font-size: 18px;
      }
    }
  }
}
