.NavBar {
  position: fixed;
  z-index: 1;
  width: 100vw;
  font-weight: bold;
  letter-spacing: 1.2px;

  & .logoBtn {
    border: 2px solid black;
    border-radius: 8px;
    width: inherit;
  }

  .navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
  }
  .Button {
    background-color: #000 !important;
  }
}
